<title>All Players</title>
<h1>All Players</h1>

<%= link_to "New_Player", new_player_path %>

<%= will_paginate %>

<ul>
  <% @players.each do |player| %>
    <li>
     <%= link_to player.playerID, player %>
     <%= link_to "delete", player, :method => :delete, :confirm => "Are you sure", 
                                                    :title => "Delete #{player.playerID}" %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
