
<h1><%= @player.playerID %></h1>, <h1><%= @player.nameLast %></h1>, <h1><%= @player.nameFirst %></h1>, <h1><%= @player.birthYear %></h1>
<%= link_to "All_Players", players_index_path %>
<%= link_to "Edit_Player", edit_player_path %>

